 @font-face {
 	font-family:"Hasta Grotesk";src:url("hasta_grotesk.eot?") format("eot"),url("hasta_grotesk.woff") format("woff"),url("hasta_grotesk.ttf") format("truetype"),url("hasta_grotesk.svg#HastaGrotesk") format("svg");
 	font-weight:normal;
 	font-style:normal;
 }

/*ESTILOS DEL HEADER*/

body {
	font-family: 'hasta grotesk';
	margin: 0;
}

.header figure, li{

	display: inline-block;
}

li{
	margin-right: 50px;
}

nav {
	display: line;
	position: absolute;
	font-size: 20px;

}
.menu {

	display: inline-block;
	color: #f3b540;
}

.menu a {
	color: #f3b540;
	text-decoration: none;
}
.header {

	background-color: #232323;
	height: 70px;
}

.logotipo {

	display: inline-block;
}

/*ESTILOS NOMBRE CURSO*/

.titulo-cursos {
	display: block;
	text-align: center;
	height: 35px;
	margin: 5px;
}

/*ESTILOS FRASE MUSICAL*/

.frase {
	text-align: center;
	border:1px dashed #f3b540;
	margin-bottom: 5px;
}

/*ESTILOS SECCIÓN VIDEO*/

.grupo-clase {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5px;
}

.panel-video {
	display: flex;
	flex-direction: column;
	height: auto;
	width: auto;
}

.titulo-clases {
	display: inline-block;
	text-align: center;
	margin: 3px;
}

/*ESTILOS PLAYLIST*/

.titulo-playlist {
	background-color: white;
	display: inline-block;
}

.titulo-playlist h3 {
	margin: 0;
	padding: 0px 0 0 20px;
	color: #232323;
	text-align: left;
	font-size: 18px;

}

.playlist {

	height: auto;
	width: auto;
	overflow-y: scroll;
}

.playlist ul {
	display: flex;
	flex-direction: column;
}

.playlist li {

	display: inline-block;
	height: auto;
	width: auto;
	border-bottom: dashed rgba(239,233,65,0.65) 1px;
}

.playlist span {

	color: #f3b540;
	font-size: 20px;
	font-weight: bold;
	margin-left: 3px;
	position: relative;
	top: 15px;
}

.playlist a {
	text-decoration: none;
	color: #232323;
	margin-left: 20px;
	font-weight: bold;

}

.playlist p {

	margin: 5px 0 10px 30px;
	color: #232323;
}

.clase:hover {

	color: #f3b540;
	border: solid #f3b540 2px;
}

.clase:hover a {

	color: #f3b540;
}

/*ESTILOS FOOTER*/

.footer {
	background: #f3b540;
	height: 150px;

}

.contenedor-footer {
	padding-top: 0px;
	width: 750px;
	background-color: #f3b540;
	display: flex;
	flex-direction: column;
	position: relative;
	left: 550px;
}

.redes {

	display: flex;
	flex-direction: row;


}

div.redes {
		text-align: center;
		padding-left: 45px;
		padding-top: 10px;

}


