/*ESTILOS CURSOS*/

.cursos {

	background-color: #f3b540;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	color: #232323;
}

.cursos h3 {

	text-align: center;
	position: relative;
	top: 390px;
	margin: 15px;
}

.cursos div {

	margin: 15px;
}

.cursos p {

	margin: 5px;
	opacity: 0;
	position: relative;
	top: 340px;

}

.guitarra {
	background-image: url('../imagenes/guitarra.png');
	height: 423px;
	color: white;
}

.cursos a {
	text-decoration: none;
}

p, h3 {
	transition: .5s;

}

.guitarra:hover h3 {

	border-bottom: solid white 1px;
	top: 340px;
	transform: scale(1.1);
}

.guitarra:hover p {

	opacity:1;
}

/*.transicion {

	transition-duration: 150ms;
	transition-property: color blue;
	transition-timing-function: linear;
}

.opacity{
  opacity: 0;
}

.opacity:hover {
  opacity: 1;
}*/

/*EL CÓDIGO DE ABAJO ES DE LOS PRIMEROS CURSOS QUE CREE*/


/*<div class="guitarra">
				<a href="">
					<img src="imagenes/guitarra.png"/>
				</a>
				<h3>CURSO GUITARRA</h3>
				<P> Este maravilloso curso te llevará <br>en la guitarra de cero a uno </P>
			</div>
			<div>
				<a href="">
					<img src="imagenes/bateria.png"/>
				</a>
				<h3>CURSO BATERÍA</h3>
				<P>Golpea los tambores dfkreñafjeqwjfñlejfl<br>kejfñejflñekfñlkejflñkejflekajflñkajflkrflfjl</P>		
			</div>
			<div>
				<a href="">
					<img src="imagenes/piano.png"/>
				</a>
				<h3>CURSO PIANO</h3>
				<P>El papa de los instrumentos</P>				
			</div> */